<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Stylesheets/style.css"/>
    
    <title>Cooking with Erika</title>
</head>
<body>
  <h1>About me</h1>
  <p>
  "I have a passion for cooking and love exploring new recipes and techniques in the kitchen. It brings me so much joy to create delicious meals for myself and my loved ones. From baking decadent desserts to experimenting with global cuisine, cooking is my go-to hobby for relaxation and creativity. I believe that food has a unique ability to bring people together and create wonderful memories."</p>

  <img src="/public/Images/chef.jpeg" alt="Chef image"  class="image1"/>

</body>
</html>