<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Stylesheets/style.css"/>

    <title>Cooking with Erika</title>

</head>
<body>
    <h1>Cakes</h1>
    <p>I absolutely love baking cakes, especially when it comes to making special birthday cakes for my son. Each year, I take on the challenge of creating a unique and delicious cake that reflects his personality and interests. Seeing the joy on my son's face when he sees his cake is one of the most rewarding experiences as a parent and a baker. Join me as we explore the world of cakes and celebrate the sweet moments in life!</p>

        <img src="/public/Images/eastercakes.jpeg"  alt="easter Cakes"  class="image3"/>

        <img src="/public/Images/birthdaycakes.jpeg"  alt="birthday Cakes"  class="image4"/>

        <img src="/public/Images/mixcakes.jpeg"  alt="mixcakes Cakes"  class="image5"/>
        
        <ul>
            <li><a href= "home.html">Home</a></li>
            <li><a href= "about.html">About</a></li>
            <li><a href= "fish.html">Fish</a></li>
            <li><a href= "meat.html">Meat</a></li>
            <li><a href= "kids.html">Kids</a></li>
            <li><a href= "madeByJoshy.html">Made by Joshy</a></li>
        </ul>
</body>
</html>