<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Stylesheets/style.css"/>

    <title>Cooking with Erika</title>

</head>
<body>
    <h1>Fish</h1>
    <p>Fish dishes are a popular choice in many cuisines around the world, whether it's grilled salmon, fish and chips, or sushi. Fish is a great source of protein and can be cooked in a variety of ways, from pan-frying to baking, which allows for a range of flavors and textures to be explored. Additionally, fish can be paired with a wide range of ingredients and sauces, making it a versatile and delicious option for any meal.</p>

    <img src="/public/Images/fish.jpeg"  alt="fish"  class="image6"/>
    
    <nav>
        <ul>
            <li><a href="cakes">Cakes</a></li>
            <li><a href="meat">Meat</a></li>
            <li><a href="kids">Kids</a></li>
            <li><a href="madeByJoshy">Made by Joshy</a></li>
        </ul>
    </nav>
    
</body>
</html>