<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Stylesheets/style.css"/>

    <title>Cooking with Erika</title>

</head>
<body>
    <h1>
        Welcome to Cooking with Me!
    </h1>
    
    <p>
        I'm thrilled to share my love for cooking with you and guide you on your culinary journey. From simple weeknight dinners and baking, we'll explore a variety of recipes together.
        Join me in the kitchen and let's create delicious meals that will impress your family and friends.
    </p>

    <img src="/public/Images/sandwich.jpeg" alt="sandwich image"  class="image2"/>

    <p>
        Thank you for visiting Cooking with Me, and I can't wait to cook with you!
    </p>
    
    <nav>
        <ul>
            <li><a href= "about.html">About</a></li>
            <li><a href="Cakes.html">Cakes</a></li>
            <li><a href= "fish.html">Fish</a></li>
            <li><a href= "meat.html">Meat</a></li>
            <li><a href="kids.html">Kids</a></li>
            <li><a href= "madeByJoshy.html">Made by Joshy</a></li>
        </ul>
    </nav>
</body>
</html>