<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Stylesheets/style.css"/>

    <title>Cooking with Erika</title>

</head>
<body>
    <h1>Kids</h1>
    
    <p>Kid's food should be nutritious, delicious, and fun. It's important to provide children with a balanced diet that includes a variety of fruits, vegetables, proteins, and whole grains. At the same time, kids often enjoy foods that are colorful, playful, and easy to eat. Ultimately, the key to successful kids' food is to strike a balance between health and enjoyment.</p>

    <img src="/public/Images/pizza.jpeg"  alt="pizza"  class="image7"/>
    <img src="/public/Images/icecream.jpeg"  alt="icecream"  class="image8"/>
    <img src="/public/Images/spaghetti.jpeg"  alt="spaghetti"  class="image9"/>
    <img src="/public/Images/babyfood.jpeg"  alt="babyfood"  class="image10"/>

    <nav>
        <ul>
            <li><a href="cakes">Cakes</a></li>
            <li><a href="fish">Fish</a></li>
            <li><a href="meat">Meat</a></li>
            <li><a href="madeByJoshy">Made by Joshy</a></li>
        </ul>
    </nav>
    
</body>
</html>