<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>

    <title>Cooking with Erika</title>

</head>

<body>
    <h1>Made by Joshy</h1>

    <p>Joshua, as a kid, is a budding chef with a natural talent and curiosity for cooking. Despite his young age, he is not afraid to experiment with different flavors and techniques, and enjoys trying out new recipes and ingredients in the kitchen. Joshua's passion for cooking has led him to develop a good understanding of basic cooking principles, such as measuring ingredients, following recipes, and using kitchen tools safely.
    </p>
    
    <img src="/public/Images/car&cheese.jpeg" alt="car&cheese" class="image11" />

    <img src="/public/Images/madebyJoshua1.jpeg" alt="cooking" class="image12" />

    <nav>
        <ul>
            <li><a href= "home.html">Home</a></li>
            <li><a href= "about.html">About</a></li>
            <li><a href= "Cakes.html">Cakes</a></li>
            <li><a href= "fish.html">Fish</a></li>
            <li><a href= "meat.html">Meat</a></li>
            <li><a href= "kids.html">Kids</a></li>
        </ul>
    </nav>

</body>

</html>