<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>

    <title>Cooking with Erika</title>

</head>
<body>
    <h1>Meat</h1>

    <p>
        When it comes to cooking meat, there are a variety of methods to choose from, including grilling, roasting, braising, and frying, each of which can create a distinct flavor and texture. Additionally, meat can be paired with a wide range of ingredients, such as vegetables, herbs, and spices, to create a flavorful and satisfying meal. Whether it's a classic steak or a spicy curry, meat dishes are sure to please even the most discerning palate.
    </p>
    
    <img src="/public/Images/meat1.jpeg"  alt="meat" class="image13"/>

    <img src="/public/Images/meat2.jpeg"  alt="meat" class="image14"/>

    <nav>
        <ul>
            <li><a href= "home.html">Home</a></li>
            <li><a href= "about.html">About</a></li>
            <li><a href= "Cakes.html">Cakes</a></li>
            <li><a href= "fish.html">Fish</a></li>
            <li><a href= "kids.html">Kids</a></li>
            <li><a href= "madeByJoshy.html">Made by Joshy</a></li>
        </ul>
    </nav>
    
</body>
</html>